*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    background-color: brown;
}
.container{
    display:grid;
    grid-template-columns: 24% 24% 24% auto;
    background-color: blanchedalmond;
    grid-gap: 5px;
    width: 600px;
}
.d1{
    grid-column: 1/2;
}

.d2{
    grid-column: 2/3;
}

.d3{
    grid-column: 3/4;
}

